/*Downloaded from https://www.codeseek.co/hellokatili/responsive-testimonial-slider-rVvMZb */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Rubik:400,600,700');
@import url('assets/fonts/Kollektif.ttf');

html {
  height: 100%;
}

body {
  /*background: linear-gradient(130deg, #07d9a3, #048fee);
  background-size: 400% 400%;
  -webkit-animation: gradient 16s ease infinite;
  animation: gradient 16s ease infinite;*/
  font-family: 'Poppins', sans-serif;
}

.content {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  min-width: 300px;
}


.quote-container {
  background-color: #2A2B2A;
  min-height: 200px;
  color: #666666;
  font-size: 36px;
  margin: 0 40px;
  position: relative;
}
.quote-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.quote-container .portrait {
  position: absolute;
  top: 70px;
  bottom: 0;
  margin: auto;
  height: 320px;
  width: 320px;
  overflow: hidden;
  vertical-align: middle;
}
.quote-container .portrait img {
  display: block;
  height: auto;
  width: 100%;
}
.quote-container .quote {
  position: relative;
  z-index: 600;
  padding: 40px 0 80px 350px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4 !important;
  
  color: #2A2B2A;
  width: 100%;

}
.quote-container .quote p {
  position: relative;
  margin-bottom: 20px;
}
.quote-container .quote p:first-child:before {
  content: '\201C';
  color: rgba(255, 255, 255, 0.44);
  font-size: 7.5em;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -10;
}
.quote-container .quote cite {
  display: block;
  font-size: 20px;
}
.quote-container .quote cite span {
  font-size: 16px;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dragging .quote-container {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.circle {
  border-radius: 50%;
}

.rounded-img {
  border-radius: 8px;
}

.octogon {
  -webkit-clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
  clip-path: url(#octogon);
  height: 140px;
  width: 140px;
}

.slick-vertical .slick-slide {
  border: 0 none;
}
.slick-prev,
.slick-next {
  color: #2A2B2A;
  opacity: 1;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  
  path {
    fill: #2A2B2A;
  }
  
  &:hover {
    path {
      fill: #2A2B2A;
    }
  }
}



.slick-prev {
  left: -35px;
  margin-top: 0px;
  top: 50%;
}

.slick-next {
  right: -35px;
  top: 50%;
}

.slick-prev:before, 
.slick-next:before {
  content: none;
}

.slick-dots li button:before {
  color: rgba(255,255,255,0.4);
  opacity: 1;
  font-size: 8px;
}

.slick-dots li.slick-active button:before {
  color: #2A2B2A;
}

.dragging .quote blockquote {
  cursor: grabbing;
}

@-webkit-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes gradient { 
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
